<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css" &gt;>
    <title>Document</title>
</head>

<body>
    <h1>Editando el libro {{libro.title}}</h1>
    <form action="" method="post">
        {%csrf_token%}{{form.as_p}}
        <button type="submit">Editar este libro</button>
    </form>
    <a href="{% url 'listar_libros' %}" role="button">Listar libros</a>

</body>

</html>